.container-fluid {
	position: absolute;
	top: 70px;
	left: 0;
	right: 0;
	bottom: 10px;
}
.full-height {
	position:relative;
	height: 100%;
	overflow: auto;	
	margin: 0;
}

.panel .scrollable-body {
	position: absolute;
	top: 40px;
	bottom: 0;
	left:0;
	right: 0;
	overflow: auto;
}

.topbar {
	width: 300px;
	padding: 20px 20px 10px 20px;
}

.checkbox {
	font-weight: normal;
	line-height: 1em;
  margin-top: 0px;
  margin-bottom: 0px;
}

.checkbox input {
  vertical-align: bottom;  
  line-height: 1em;
}

.checkbox-list .checkbox {
	width: 100%;
	padding-right: 10px;
}

.panel .span {
	margin-left: 5px;
}

.panel-body {
	padding: 0 0 0 0;
}
.panel-body ul.checkbox-list {
    max-height: 100px;
    overflow-y: auto;
	
    padding: 0 0 0 10px;
    margin-bottom: 0;
}

.spin {
  -webkit-animation: spin 2s infinite linear;
  -moz-animation: spin 2s infinite linear;
  -o-animation: spin 2s infinite linear;
  animation: spin 2s infinite linear;
}

@-moz-keyframes spin {
  from {
    -moz-transform: rotate(0deg);
  }
  to {
    -moz-transform: rotate(360deg);
  }
}

@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.search-bar {
  margin-top: 27px;
  /* min-width: 500px; */
  width: 50%;
  box-shadow: 0px 2px 5px #808080;
  border-radius: 8px;
}

.translucent {
	opacity: 0.9;	
}

.solid-hover:hover,
.solid-hover:focus {
	opacity: 1
}

.input-group-btn:not(:last-child)>.btn {
	border-radius: 0;
}

.slider-horizontal {
  width: 200px !important;
  /* margin-top: 10px; */
}
.slider-handle.round {
  background-color: blue;
  border-radius: 50%;
  background-image: linear-gradient(to bottom, #428bca 0%, #428bca 100%);
}