.dropdown-menu {
	width: 300px;
}
.input-slider {
	margin: 20px 20px 20px 20px;
}
.slider-horizontal {
	width: 200px !important;
	margin-top: 5px;
}
.slider-handle.round {
	background-color: blue;
	border-radius: 50%;
	background-image: linear-gradient(to bottom, #149bdf 0%, #0480be 100%);
}
#wdsCurrentSliderValLabel {
	margin-left: 10px;
}
.input-group {
	width: 260px;
	margin-left: 20px;
	margin-right: 20px;
}
.input-group label {
	font-weight: normal;
}
.checkbox-header .checkbox {
	margin-top: 0px;
	margin-bottom: 0px;
}
ul.dropdown-menu-form {
    padding: 5px 0 0;
    max-height: 100px;
    overflow-y: scroll;
    border: 1px;
	border-style: solid;
	padding: 0 0 0 10px;
	margin-top: 10px;
	margin-bottom: 20px;
}