<!DOCTYPE html>
<html lang="en" ng-app="googleGisDemo">
	<head>
		<title>SnowDrop GIS Demo App</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta charset="utf-8">
		<meta lang="en">
		 <!-- bootstrap css files -->
	    <link href="../bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" media="screen">
	    <link href="../bower_components/bootstrap/dist/css/bootstrap-theme.min.css" rel="stylesheet" media="screen">
	    <link href="../bower_components/bootstrap-slider/slider.css" rel="stylesheet" media="screen">

		<!-- custom css files -->
	    <link href="css/app.css" rel="stylesheet" media="screen">
	    <link href="css/walking_distance.css" rel="stylesheet" media="screen">
	    <link href="css/neighbourhoods.css" rel="stylesheet" media="screen">	    
	 
	    <!-- boostrap old IEs support -->
	    <!--[if lt IE 9]>
	      <script src=".../bower_components/bootstrap/dist/js/html5shiv.js"></script>
	      <script src="../bower_components/bootstrap/dist/js/respond.min.js"></script>
    	<![endif]-->


		<script src="http://code.jquery.com/jquery.js"></script>
 
    	<!-- Bower dependencies -->
    	<script src="../bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    	<script src="../bower_components/bootstrap-slider/bootstrap-slider.js"></script>
    	<script src="../bower_components/geoJSON-to-Google-Maps/GeoJSON.js"></script>
    	<script src="../bower_components/angular/angular.js"></script>
    	<script src="../bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>		
		<script src="../bower_components/markerclustererplus/src/markerclusterer.js"></script>
		<script src="../bower_components/wicket/wicket.js"></script>
		<script src="../bower_components/wicket/wicket-gmap3.js"></script>
		<script src="../bower_components/jsts/lib/javascript.util.js"></script>
		<script src="../bower_components/jsts/lib/jsts.js"></script>
		
		<!-- Non-bower javascripts dependencies-->
		
    	<script src="js/scroll.js"></script>
		
		<!-- Controllers and directives -->
    	<script src="js/googleGisDemo.js"></script>
		<script src="js/angularSlider.js"></script>
    	<script src="js/walkingDistance.js"></script>
    	<script src="js/commuteTime.js"></script>
    	<script src="js/neighbourhoods.js"></script>
    	<script src="js/geoFence.js"></script>
    	
    	<script src="js/searchbar.js"></script>
    	<script src="js/searchbarCommuting.js"></script>

    	 <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDVLxK6W-SOvjOhuhtmG5W9ot24uYrxH2w&sensor=false&libraries=drawing,visualization,geometry,places"></script>    	 
	</head>

	<body ng-controller="AppCtrl">
		
		<nav class="navbar navbar-default navbar-top ">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
			      	<span class="sr-only">Toggle navigation</span>
			      	<span class="icon-bar"></span>
			      	<span class="icon-bar"></span>
			      	<span class="icon-bar"></span>
			    </button>
			    <a class="navbar-brand" href="#">SnowDrop GIS Demo</a>
			</div>


			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			
				<form class="nav navbar-left navbar-form form-inline">
					<div class="btn-group">
						<select class="form-control btn btn-default" ng-model="filterIntersectionMode" ng-change="applyGeoFilters()"
							ng-options="o.intersection as o.label for o in filterCombinationModes">                          
                        </select>
						<ng-include src="'walking_distance.html'" class="btn-group"></ng-include>
						<ng-include src="'neighbourhoods.html'" class="btn-group"></ng-include>
			    		<ng-include src="'geofence.html'" class="btn-group"></ng-include>
						<ng-include src="'commute_time.html'" class="btn-group"></ng-include>
						
						<button type="button" class="btn btn-default" ng-disabled="!geometryFilterCount"
							ng-click="clearAllToolFilters()">
							<span class="glyphicon glyphicon-remove"></span>
						 	<span class="sr-only">Remove all filters</span>
						</button>
					</div>
				</form>
				
			    <ul class="nav navbar-nav navbar-right">
			      <li class="dropdown">
			        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
			        <ul class="dropdown-menu topbar">
			          <li><a href="#">Action</a></li>
			          <li><a href="#">Another action</a></li>
			          <li><a href="#">Something else here</a></li>
			          <li class="divider"></li>
			          <li><a href="#">Separated link</a></li>
			        </ul>
			      </li>
				</ul>
			</div><!-- /.navbar-collapse -->
		</nav>
		
		
		<div class="container-fluid">
			<div class="row-fluid full-height">
				<div class="col-md-4 full-height" >	
					<div class="panel panel-default full-height">
						<div class="panel-heading">
							Property Listing  <span class="badge" ng-class="{hidden: !geoFilteredResults.length}">{{geoFilteredResults.length}}</span>
						</div>
						<ul class="list-group scrollable-body">
						
							<a href="#" class="list-group-item text-center"  ng-class="{hidden: !loading}">
								  	Loading <span class="glyphicon glyphicon-refresh spin"></span> 
							</a>
							
							<a href="#" class="list-group-item" ng-repeat="result in geoFilteredResults|orderBy:'-properties.price'|filter:filter" ng-class="{active: result.active}" ng-click="resultClicked(result)">
								<h4 class="list-group-item-heading">{{result.properties.displayable_address}}: {{statusLabels[result.properties.status]}}</h4>
								<p class="list-group-item-text">{{result.properties.price | number}} &pound; | {{result.properties.agent_phone}}</p>								    
							</a>
							
						

							<a href="#" class="list-group-item text-center"  ng-class="{'hidden': geoFilteredResults.length || loading}">
								  	<span class="glyphicon glyphicon-info-sign"></span> No results, please change the filter!
							</a>
						</ul>
					</div>
				 
				</div>

				<div class="col-md-8 full-height ">
					<div class="input-group search-bar solid-hover" ng-controller="searchbarCtrl" style="display:none"
						ng-class="{'translucent': !selected}">
						<span class="input-group-addon"><span class="glyphicon" ng-class="{'glyphicon-search': !loadingPlaces,'glyphicon-refresh spin': loadingPlaces}"></span></span>
      					<input type="text" class="form-control" ng-model="selected" placeholder="Location..." 
							typeahead-wait-ms="200" typeahead="address.formatted_address for address in getLocation($viewValue)" typeahead-on-select="select($item)"/>
						
						<span class="input-group-btn">
							<button type="button" class="btn btn-default" ng-disabled="!selected"
								ng-click="clearSearch()">
								<span class="glyphicon glyphicon-remove"></span>
								<span class="sr-only">Remove address</span>
							</button>
						</span>
						<span class="input-group-btn">
							<button type="button" class="btn btn-default" ng-disabled="!selected"
								ng-click="goTo()">
								<span class="glyphicon glyphicon-share-alt"></span>
								<span class="sr-only">Go to</span>
							</button>
						</span>
    				</div>
					<div id="map" class="full-height well"></div>
				</div>
			</div>
		</div>

	</body>

</html>