<!DOCTYPE html>
<html lang="en" ng-app="googleGisDemo">
	<head>
		<title>Google GIS Demo App</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		 <!-- CSS de Bootstrap -->
	    <link href="../bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" media="screen">
	    <link href="../bower_components/bootstrap/dist/css/bootstrap-theme.min.css" rel="stylesheet" media="screen">
	    <link href="../bower_components/bootstrap-slider/slider.css" rel="stylesheet" media="screen">

	    <link href="css/walking_distance.css" rel="stylesheet" media="screen">
	    <link href="css/neighbourhoods.css" rel="stylesheet" media="screen">
	    <link href="css/app.css" rel="stylesheet" media="screen">
	 
	    <!-- librerías opcionales que activan el soporte de HTML5 para IE8 -->
	    <!--[if lt IE 9]>
	      <script src=".../bower_components/bootstrap/dist/js/html5shiv.js"></script>
	      <script src="../bower_components/bootstrap/dist/js/respond.min.js"></script>
    	<![endif]-->


		<script src="http://code.jquery.com/jquery.js"></script>
 
    	<!-- Todos los plugins JavaScript de Bootstrap (también puedes
         incluir archivos JavaScript individuales de los únicos
         plugins que utilices) -->
    	<script src="../bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    	<script src="../bower_components/bootstrap-slider/bootstrap-slider.js"></script>
    	<script src="../bower_components/angular/angular.js"></script>
    	
    	<script src="js/googleGisDemo.js"></script>
    	<script src="js/walkingDistance.js"></script>
    	<script src="js/neighbourhoods.js"></script>
    	<script src="js/geoFence.js"></script>
    	<script src="js/angularSlider.js"></script>
    	<script src="js/scroll.js"></script>

    	 <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBkvm3UGVoIpBtGA_rw7THbnvXNcSp6W1k&sensor=false&libraries=drawing,visualization"></script>    	 
	</head>

	<body ng-controller="AppCtrl">
		
		<nav class="navbar navbar-default navbar-top ">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
			      	<span class="sr-only">Toggle navigation</span>
			      	<span class="icon-bar"></span>
			      	<span class="icon-bar"></span>
			      	<span class="icon-bar"></span>
			    </button>
			    <a class="navbar-brand" href="#">Google GIS Demo</a>
			</div>


			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			    <ul class="nav navbar-nav" ng-include="'walking_distance.html'"></ul>
			    <ul class="nav navbar-nav" ng-include="'neighbourhoods.html'"></ul>
			    <ul class="nav navbar-nav" ng-include="'geofence.html'"></ul>
			    <ul class="nav navbar-nav navbar-right">
			      <li class="dropdown">
			        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
			        <ul class="dropdown-menu">
			          <li><a href="#">Action</a></li>
			          <li><a href="#">Another action</a></li>
			          <li><a href="#">Something else here</a></li>
			          <li class="divider"></li>
			          <li><a href="#">Separated link</a></li>
			        </ul>
			      </li>
				</ul>
			</div><!-- /.navbar-collapse -->
		</nav>
		
		
		<div class="container-fluid">
			<div class="row-fluid full-height">
				<div class="col-md-4 full-height" >	
					<div class="panel panel-default full-height">
						<div class="panel-heading" >
							Property Listing
						</div>
						<ul class="list-group scrollable-body">
							<a href="#" class="list-group-item" ng-repeat="result in filteredResults((results|orderBy:'-properties.price'|filter:filter))" ng-class="{active: result.active}" ng-click="resultClicked(result)">
								<h4 class="list-group-item-heading">{{result.properties.displayable_address}}: {{statusLabels[result.properties.status]}}</h4>
								<p class="list-group-item-text">{{result.properties.price}} € / {{result.properties.agent_phone}}</p>								    
							</a>
							<!--a href="#" class="list-group-item"  when-scrolled="loadNextPage()"  ng-class="{'hidden': !nextPageToken}">
								  	Loading <span class="glyphicon glyphicon-refresh spin"></span>
							</a-->
						</ul>
					</div>
				 
				</div>
				

				<div class="col-md-8 full-height ">
					<div id="map" class="full-height well"></div>
				</div>
			</div>
		</div>

	</body>

</html>