<li class="neighbourhoods dropdown" ng-controller="NeighbourhoodsCtrl">
	<a href="#" class="dropdown-toggle" data-toggle="dropdown">Neighbourhoods
		<span class="badge" ng-class="{'hidden': !toolFilter.hasResults}">{{toolFilter.featuresMatching}}</span> <b class="caret"></b></a>
	<div class="dropdown-menu">
		<form>
			<p>
				<label class="checkbox">
					<input type="checkbox" ng-click="toggleNeighbourhoods()" ng-model="allNeighbourhoodsOn">
					Show neighbourhoods outline
            	</label>
			</p>
			<div class="panel panel-primary neighbourhoods-panel">
				<div class="panel-heading">
					Selected neighbourhoods 
				</div>
				<div class="panel-body">
					<ul class="checkbox-list col-md-12">
        			<li ng-repeat="neighbourhoodName in neighbourhoodsNames | orderBy: 'label'">
                        <label class="checkbox">
                            <input type="checkbox" ng-model="neighbourhoodName.checked" ng-change="check(neighbourhoodName.id)">
                            {{neighbourhoodName.label}}
                        </label>
                    </li>
    			</ul>
				</div>
			</div>
		</form>
	</div>
</li>