<li class="neighbourhoods dropdown" ng-controller="NeighbourhoodsCtrl">
	<a href="#" class="dropdown-toggle" data-toggle="dropdown">Neighbourhoods <span class="badge">{{resultsFound}}</span> <b class="caret"></b></a>
	<div class="dropdown-menu">
		<form>
			<div class="panel">
				<label class="checkbox">
					<input type="checkbox" ng-click="toggleNeighbourhoods()" ng-model="allNeighbourhoodsOn">
					Show neighbourhoods outline
            	</label>
			</div>
			<div class="panel panel-primary">
				<div class="panel-heading">
					Selected neighbourhoods 
				</div>
				<div class="panel-body">
					<ul class="checkbox-list col-md-12">
        			<li ng-repeat="neighbourhoodName in neighbourhoodsNames">
                        <label class="checkbox">
                            <input type="checkbox" ng-model="neighbourhoodName.checked">
                            {{neighbourhoodName.label}}
                        </label>
                    </li>
    			</ul>
				</div>
			</div>
		</form>
	</div>
</li>