<div class="btn-group walkingDistance dropdown" ng-controller="WalkingDistanceCtrl">
	<a href="#" class="btn btn-default dropdown-toggle" data-toggle="dropdown">Walking distance <span class="badge">{{resultsFound}}</span> <b class="caret"></b></a>
	<div class="dropdown-menu topbar">
		<form>
			<p>
				<span>Maximum walking time: </span>
				<slider id="wds" type="text" data-slider-min="{{minvalue}}" data-slider-max="{{maxvalue}}" data-slider-step="5" data-slider-value="{{value}}" ng-model="value"/>
				<span class="span" id="wdsCurrentSliderValLabel"><span id="wdsSliderVal">{{value}}</span> min</span>
			</p>
			<div class="panel panel-primary">
				<div class="panel-heading">
					Tube line stations
					<label class="checkbox pull-right">
                		<input type="checkbox" ng-click="toggleLines()" ng-model="allLinesOn">
                		Mark all
            		</label>
				</div>
				<div class="panel-body">
					<ul class="checkbox-list col-md-12">
        			<li ng-repeat="tubeLine in tubeLines">
            			<label class="checkbox">
                			<input type="checkbox" ng-model="tubeLine.checked">
                			{{tubeLine.label}}
            			</label>
        			</li>
    			</ul>
				</div>
			</div>
			<div class="panel panel-primary">
				<div class="panel-heading">
					Places
					<label class="checkbox pull-right">
                		<input type="checkbox" ng-model="allPlacesOn" ng-click="togglePlaces()" />
                		Mark all
            		</label>
				</div>
				<div class="panel-body">
					<ul class="checkbox-list col-md-12">
        			<li ng-repeat="placeKind in placeKinds">
            			<label class="checkbox">
                			<input type="checkbox" class="placeKindCB" ng-model="placeKind.checked">
                			{{placeKind.label}}
            			</label>
        			</li>        			
    			</ul>
				</div>
			</div>
    	</form>
	</div>
</div>