<div class="btn-group walkingDistance dropdown" ng-controller="WalkingDistanceCtrl">
	<a href="#" class="btn btn-default dropdown-toggle" data-toggle="dropdown">Walking distance <span class="badge">{{resultsFound}}</span> <b class="caret"></b></a>
	<div class="dropdown-menu topbar">
		<form>
			<p>
				<span>Maximum walking time: </span>
				<slider id="wds" type="text" data-slider-min="0" data-slider-max="60" data-slider-step="5" ng-model="walkingMinutes"
					ng-change="timeChange()"/>
				<span class="pull-right" id="wdsCurrentSliderValLabel"><span id="wdsSliderVal">{{walkingMinutes}}</span> min</span>
			</p>
			<div class="panel panel-primary">
				<div class="panel-heading">
					Tube & Rail Stations
					<label class="checkbox pull-right">
                		<input type="checkbox" ng-change="toggleLines()" ng-model="allLinesOn" ng-class="{hidden: loadingLines}">
                		<span class="glyphicon glyphicon-refresh spin" ng-class="{hidden: !loadingLines}"></span> 
                		Mark all
            		</label>
				</div>
				<div class="panel-body">					
					<ul class="checkbox-list col-md-12">
        			<li ng-repeat="(tubeLineId, tubeLine) in tubeLines | orderBy: 'label'">
            			<label class="checkbox">
            				
                			<input type="checkbox" ng-model="tubeLine.checked" ng-change="toggleLine(tubeLine)" >
                			{{tubeLine.label}} <span class="pull-right badge" style="background-color:{{tubeLine.color}}">&nbsp;</span>
            			</label>
        			</li>
    			</ul>
				</div>
			</div>
			<div class="panel panel-primary">
				<div class="panel-heading">
					Places
					<label class="checkbox pull-right">
                		<input type="checkbox" ng-model="allPlacesOn" ng-change="togglePlaces()" />
                		Mark all
            		</label>
				</div>
				<div class="panel-body">
					<ul class="checkbox-list col-md-12">
        			<li ng-repeat="placeKind in placeKinds">
            			<label class="checkbox">
                			<input type="checkbox" class="placeKindCB" ng-model="placeKind.checked" ng-change="checkPlace(placeKind)">
                			{{placeKind.label}}
            			</label>
        			</li>        			
    			</ul>
				</div>
			</div>
    	</form>
	</div>
</div>
